@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

.capa {
    width:100%;
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(bg_capa.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.botao_baixo {
    width: 50px;
    margin-bottom: 20px;
    animation: jumping 1s linear infinite;
    cursor: pointer;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.conteudo_capa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    flex-direction: column;
    text-align: center;
}

.conteudo_capa_pretitulo {
    margin-top: 90px;
    margin-bottom: 50px;
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
    font-size: 18px;
}

.conteudo_capa_titulo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 180px;
}

.conteudo_capa_subtitulo {
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
    font-size: 29px;
    margin-bottom: 153px;
    margin-top: 0;
}

.sobre {
    width:100%;
    height:100vh;
    background:
    url(bg_eng.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}

.conteudo_sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #000000;
    flex-direction: column;
    margin-left: 77px;
}

.conteudo_sobre_titulo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 1;
    margin-top: 1px;
    margin-bottom: 40px;
}

.conteudo_sobre_paragrafo {
    font-family: 'Slabo 27px', serif;
    inline-size: 440px;
    font-size: 23px;
    text-align: justify;
    margin-bottom: 30px;
}

.conteudo_sobre_img {
    height: 100%;
    width: 30%;
    object-fit: cover;
    float: right;
}

.arrow-button {
    font-family: 'Slabo 27px', serif;
    display: flex;
    color: #fff;
    background-color: #033649;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    width: 120px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #031634;
    color: #fff;
}

.arquiteto {
    width:100%;
    height:100vh;
    background-color: #0A142E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo_arquiteto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    align-items: center;
}

.conteudo_arquiteto_texto {
    display: flex;
    flex-direction: column;
}

.conteudo_arquiteto_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    margin-top: 152px;
    margin-bottom: 35px;
    margin-left: 77px;
}

.conteudo_arquiteto_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 440px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 0px;
    margin-left: 77px;
}

.conteudo_arquiteta_img {
    height: 375px;
    width: 375px;
    object-fit: cover;
    margin-top: 153px;
    border-radius: 32px;
}

.cientista_computação {
    width:100%;
    height:100vh;
    background-color: #0A142E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo_cientista_computação {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    align-items: center;
}

.conteudo_cientista_computação_texto {
    display: flex;
    flex-direction: column;
}

.conteudo_cientista_computação_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    margin-top: 152px;
    margin-bottom: 35px;
    margin-left: 77px;
}

.conteudo_cientista_computação_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 440px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 0px;
    margin-left: 77px;
}

.conteudo_cientista_computação_img {
    height: 375px;
    width: 375px;
    object-fit: cover;
    margin-top: 153px;
    border-radius: 32px;
}

.engenheiro_mecanico {
    width:100%;
    height:100vh;
    background-color: #0A142E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo_engenheiro_mecanico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    align-items: center;
}

.conteudo_engenheiro_mecanico_texto {
    display: flex;
    flex-direction: column;
}

.conteudo_engenheiro_mecanico_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    margin-top: 152px;
    margin-bottom: 35px;
    margin-left: 77px;
}

.conteudo_engenheiro_mecanico_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 440px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 0px;
    margin-left: 77px;
}

.conteudo_engenheiro_mecanico_img {
    height: 375px;
    width: 375px;
    object-fit: cover;
    margin-top: 153px;
    border-radius: 32px;
}

.engenheiro_quimico {
    width:100%;
    height:100vh;
    background-color: #0A142E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo_engenheiro_quimico {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    align-items: center;
}

.conteudo_engenheiro_quimico_texto {
    display: flex;
    flex-direction: column;
}

.conteudo_engenheiro_quimico_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    margin-top: 152px;
    margin-bottom: 35px;
    margin-left: 77px;
}

.conteudo_engenheiro_quimico_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 440px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 0px;
    margin-left: 77px;
}

.conteudo_engenheiro_quimico_img {
    height: 375px;
    width: 375px;
    object-fit: cover;
    margin-top: 153px;
    border-radius: 32px;
}

.urbanista {
    width:100%;
    height:100vh;
    background-color: #0A142E;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo_urbanista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    align-items: center;
}

.conteudo_urbanista_texto {
    display: flex;
    flex-direction: column;
}

.conteudo_urbanista_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 75px;
    line-height: 1;
    margin-top: 152px;
    margin-bottom: 35px;
    margin-left: 77px;
}

.conteudo_urbanista_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 440px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 0px;
    margin-left: 77px;
}

.conteudo_urbanista_img {
    height: 375px;
    width: 375px;
    object-fit: cover;
    margin-top: 153px;
    border-radius: 32px;
}