@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
}

.capa {
    width:100vw;
    height:196vw;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(bg_capa.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.conteudo_capa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    text-align: center;
    animation: jumping 2s linear infinite;
}

.conteudo_capa_pretitulo {
    margin-top: 40vw;
    margin-bottom: 50px;
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
    font-size: 18px;
}

.conteudo_capa_titulo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 8vh;
}

.conteudo_capa_subtitulo {
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
    font-size: 2.5vh;
    margin-bottom: 153px;
    margin-top: 0;
}

.sobre {
    width:100vw;
    height:196vw;
    background-color: #D3D3D4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #000000;
    flex-direction: column;
}

.conteudo_sobre_titulo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 13vw;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
}

.conteudo_sobre_paragrafo {
    font-family: 'Slabo 27px', serif;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 30px;
}

.arrow-button {
    font-family: 'Slabo 27px', serif;
    display: flex;
    color: #fff;
    background-color: #0A142E;
    padding: 10px 16px;
    border-radius: 20px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    width: 120px;
}

.arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

.arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

.arrow-button:hover > .arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
}

.arrow-button:hover {
    background-color: #031634;
    color: #fff;
}

.arquiteto {
    width:100vw;
    height:160vw;
}

.conteudo_arquiteto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_arquiteto_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 15vw;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 35px;
}

.conteudo_arquiteto_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 50px;
}

.conteudo_arquiteta_img {
    height: 50vw;
    width: 75vw;
    object-fit: cover;
    border-radius: 32px;
    z-index: 2;
}
.caixa1{
    position: relative;
    height: 50vw;
    width: 75vw;
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
}

.caixa1::before, .caixa1::after {
    content: '';
    position: absolute;
    width: 77vw;
    height: 52vw;
    background: linear-gradient(45deg, #3A1078, #3795BD, #4E31AA, #2F58CD);
    background-size: 300%;
    border-radius: 32px;
    animation: AnimarBorda 8s linear infinite;
}

.caixa1::after{
    filter: blur(20vw);
}

@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;
    }
}

.cientista_computação {
    width:100vw;
    height:160vw;
}

.conteudo_cientista_computação {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_cientista_computação_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 15vw;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 35px;
}

.conteudo_cientista_computação_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 50px;
}

.conteudo_cientista_computação_img {
    height: 50vw;
    width: 75vw;
    object-fit: cover;
    border-radius: 32px;
    z-index: 2;
}
.caixa2{
    position: relative;
    height: 50vw;
    width: 75vw;
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
}

.caixa2::before, .caixa2::after {
    content: '';
    position: absolute;
    width: 77vw;
    height: 52vw;
    background: linear-gradient(45deg, #3A1078, #3795BD, #4E31AA, #2F58CD);
    background-size: 300%;
    border-radius: 32px;
    animation: AnimarBorda 8s linear infinite;
}

.caixa2::after{
    filter: blur(20vw);
}
.engenheiro_mecanico {
    width:100vw;
    height:160vw;
}

.conteudo_engenheiro_mecanico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_engenheiro_mecanico_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 15vw;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 35px;
}

.conteudo_engenheiro_mecanico_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 50px;
}

.conteudo_engenheiro_mecanico_img {
    height: 50vw;
    width: 75vw;
    object-fit: cover;
    border-radius: 32px;
    z-index: 2;
}

.caixa3{
    position: relative;
    height: 50vw;
    width: 75vw;
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
}

.caixa3::before, .caixa3::after {
    content: '';
    position: absolute;
    width: 77vw;
    height: 52vw;
    background: linear-gradient(45deg, #3A1078, #3795BD, #4E31AA, #2F58CD);
    background-size: 300%;
    border-radius: 32px;
    animation: AnimarBorda 8s linear infinite;
}

.caixa3::after{
    filter: blur(20vw);
}

.engenheiro_quimico {
    height:160vw;
}

.conteudo_engenheiro_quimico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_engenheiro_quimico_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 15vw;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 35px;
}

.conteudo_engenheiro_quimico_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 50px;
}

.conteudo_engenheiro_quimico_img {
    height: 50vw;
    width: 75vw;
    object-fit: cover;
    border-radius: 32px;
    z-index: 2;
}

.caixa4{
    position: relative;
    height: 50vw;
    width: 75vw;
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
}

.caixa4::before, .caixa4::after {
    content: '';
    position: absolute;
    width: 77vw;
    height: 52vw;
    background: linear-gradient(45deg, #3A1078, #3795BD, #4E31AA, #2F58CD);
    background-size: 300%;
    border-radius: 32px;
    animation: AnimarBorda 8s linear infinite;
}

.caixa4::after{
    filter: blur(20vw);
}

.urbanista {
    width:100vw;
    height:170vw;
}

.conteudo_urbanista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo_urbanista_titulo {
    font-family: 'Oswald', sans-serif;
    color: #0464FF;
    font-weight: 400;
    font-size: 15vw;
    line-height: 1;
    margin-top: 50px;
    margin-bottom: 35px;
}

.conteudo_urbanista_paragrafo {
    font-family: 'Slabo 27px', serif;
    color: white;
    inline-size: 75vw;
    font-size: 5vw;
    text-align: justify;
    margin-bottom: 50px;
}

.conteudo_urbanista_img {
    height: 50vw;
    width: 90vw;
    object-fit: cover;
    border-radius: 32px;
    z-index: 2;
}

.caixa5{
    position: relative;
    height: 50vw;
    width: 75vw;
    display: flex;
    align-items: center;
    border-radius: 32px;
    justify-content: center;
}

.caixa5::before, .caixa5::after {
    content: '';
    position: absolute;
    width: 77vw;
    height: 52vw;
    background: linear-gradient(45deg, #3A1078, #3795BD, #4E31AA, #2F58CD);
    background-size: 300%;
    border-radius: 32px;
    animation: AnimarBorda 8s linear infinite;
}

.caixa5::after{
    filter: blur(20vw);
}

.cursoss {
    background: #0A142E;
}